In [ ]:
import pyspark

In [ ]:
import pyspark as py 
import pandas as pd

In [ ]:
# Define the data
data = [
    ('vidhi', 'piyush', 'sagar', '1401', 'M', 30000),
    ('mahi', '', 'shah', '1901', 'F', 45000),
    ('heet', '', 'dhanak', '2000', 'M', 90000),
    ('somya', 'mayur', '', '1500', 'F', 80000)
]

In [ ]:
# Define the schema
columns = ['first name', 'middle name', 'last name', 'dob', 'gender', 'salary']

In [ ]:
# Create DataFrame
df_pyspark = spark.createDataFrame(data, schema=columns)

In [ ]:
df_pyspark.show()

+----------+-----------+---------+----+------+------+
|first name|middle name|last name| dob|gender|salary|
+----------+-----------+---------+----+------+------+
|     vidhi|     piyush|    sagar|1401|     M| 30000|
|      mahi|           |     shah|1901|     F| 45000|
|      heet|           |   dhanak|2000|     M| 90000|
|     somya|      mayur|         |1500|     F| 80000|
+----------+-----------+---------+----+------+------+

In [ ]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("LoadCSV").getOrCreate()

# File path in DBFS
file_path =  "/FileStore/tables/empid-1.csv"

# Load CSV file
df1 = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load(file_path)

# Show the DataFrame
df1.show()

+------+------+------+-------+
|emp_id|  name|Salary|address|
+------+------+------+-------+
|     1| vidhi| 10000|  india|
|     2|piyush| 20000|    usa|
|     3|  neha| 30000| canada|
|     4| shona| 50000| canada|
|     5|  null| 60000|    usa|
|     6| rahul|  null|  india|
+------+------+------+-------+

In [ ]:
df1.show()

+------+------+------+-------+
|emp_id|  name|Salary|address|
+------+------+------+-------+
|     1| vidhi| 10000|  india|
|     2|piyush| 20000|    usa|
|     3|  neha| 30000| canada|
|     4| shona| 50000| canada|
|     5|  null| 60000|    usa|
|     6| rahul|  null|  india|
+------+------+------+-------+

In [ ]:
df1.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- address: string (nullable = true)

In [ ]:
from pyspark.sql.types import IntegerType 
from pyspark.sql.functions import col

df1 = df1.withColumn("salary", col("salary").cast(IntegerType()))

In [ ]:
df1.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)

In [ ]:
df1.withColumn('bonus',df1['salary']*0.2).show()

+------+------+------+-------+-------+
|emp_id|  name|salary|address|  bonus|
+------+------+------+-------+-------+
|     1| vidhi| 10000|  india| 2000.0|
|     2|piyush| 20000|    usa| 4000.0|
|     3|  neha| 30000| canada| 6000.0|
|     4| shona| 50000| canada|10000.0|
|     5|  null| 60000|    usa|12000.0|
|     6| rahul|  null|  india|   null|
+------+------+------+-------+-------+

In [ ]:
df1.filter(df1.name =='vidhi').show()

+------+-----+------+-------+
|emp_id| name|salary|address|
+------+-----+------+-------+
|     1|vidhi| 10000|  india|
+------+-----+------+-------+

In [ ]:
filtered_df = df1.filter("name = 'vidhi' OR name = 'piyush'").show()

+------+------+------+-------+
|emp_id|  name|salary|address|
+------+------+------+-------+
|     1| vidhi| 10000|  india|
|     2|piyush| 20000|    usa|
+------+------+------+-------+

In [ ]:
filtered_df = df1.filter((col("Salary") <= 20000) & (col("Salary") >= 15000)).show()

+------+------+------+-------+
|emp_id|  name|salary|address|
+------+------+------+-------+
|     2|piyush| 20000|    usa|
+------+------+------+-------+

In [ ]:
filtered_df = df1.filter(~(col("Salary") <= 20000)).show()

+------+-----+------+-------+
|emp_id| name|salary|address|
+------+-----+------+-------+
|     3| neha| 30000| canada|
|     4|shona| 50000| canada|
|     5| null| 60000|    usa|
+------+-----+------+-------+

In [ ]:
df1.show()

+------+------+------+-------+
|emp_id|  name|salary|address|
+------+------+------+-------+
|     1| vidhi| 10000|  india|
|     2|piyush| 20000|    usa|
|     3|  neha| 30000| canada|
|     4| shona| 50000| canada|
|     5|  null| 60000|    usa|
|     6| rahul|  null|  india|
+------+------+------+-------+

In [ ]:
df1.sort('salary').show()

+------+------+------+-------+
|emp_id|  name|salary|address|
+------+------+------+-------+
|     6| rahul|  null|  india|
|     1| vidhi| 10000|  india|
|     2|piyush| 20000|    usa|
|     3|  neha| 30000| canada|
|     4| shona| 50000| canada|
|     5|  null| 60000|    usa|
+------+------+------+-------+

In [ ]:
df1.sort(df1.salary.desc()).show()

+------+------+------+-------+
|emp_id|  name|salary|address|
+------+------+------+-------+
|     5|  null| 60000|    usa|
|     4| shona| 50000| canada|
|     3|  neha| 30000| canada|
|     2|piyush| 20000|    usa|
|     1| vidhi| 10000|  india|
|     6| rahul|  null|  india|
+------+------+------+-------+

In [ ]:
df1.sort(df1.salary.asc()).show()

+------+------+------+-------+
|emp_id|  name|salary|address|
+------+------+------+-------+
|     6| rahul|  null|  india|
|     1| vidhi| 10000|  india|
|     2|piyush| 20000|    usa|
|     3|  neha| 30000| canada|
|     4| shona| 50000| canada|
|     5|  null| 60000|    usa|
+------+------+------+-------+

In [ ]:
# SELECT 

df1.select('name','salary','address').show()

+------+------+-------+
|  name|salary|address|
+------+------+-------+
| vidhi| 10000|  india|
|piyush| 20000|    usa|
|  neha| 30000| canada|
| shona| 50000| canada|
|  null| 60000|    usa|
| rahul|  null|  india|
+------+------+-------+

In [ ]:
# sum of the salary by name 

df1.groupby('address').sum('salary').show()

+-------+-----------+
|address|sum(salary)|
+-------+-----------+
|  india|      10000|
| canada|      80000|
|    usa|      80000|
+-------+-----------+

In [ ]:
df1.groupby('address').avg('salary').show()

+-------+-----------+
|address|avg(salary)|
+-------+-----------+
|  india|    10000.0|
| canada|    40000.0|
|    usa|    40000.0|
+-------+-----------+

In [ ]:
df1.groupby('name').count().show()

+------+-----+
|  name|count|
+------+-----+
| rahul|    1|
|piyush|    1|
| vidhi|    1|
|  neha|    1|
|  null|    1|
| shona|    1|
+------+-----+

In [ ]:
df1.groupby('address').min('salary').show()

+-------+-----------+
|address|min(salary)|
+-------+-----------+
|  india|      10000|
| canada|      30000|
|    usa|      20000|
+-------+-----------+

In [ ]:
df1.groupby('address').max('salary').show()

+-------+-----------+
|address|max(salary)|
+-------+-----------+
|  india|      10000|
| canada|      50000|
|    usa|      60000|
+-------+-----------+

In [ ]:
df1.groupby('address').avg('salary').show()

+-------+-----------+
|address|avg(salary)|
+-------+-----------+
|  india|    10000.0|
| canada|    40000.0|
|    usa|    40000.0|
+-------+-----------+

In [ ]:
emp = [(1,"smith",-1,"2018","10","M",3000), \
       (2,"rose",1,"2010","20","M",4000), \
       (3, "vidhi",1,"2010","10","M",1000), \
       (4,"jones",2,"2019","30","",-1), \
        (5,"piyush",2,"2010","50","",-1) \

    ]

empColumns = ["emp_id","name","superior_emp_id","year_joined", \
         "emp_dept_id","gender","salary"]

empdf = spark.createDataFrame(data=emp, schema = empColumns)
empdf.printSchema()

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [ ]:
empdf.show()

+------+------+---------------+-----------+-----------+------+------+
|emp_id|  name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+------+---------------+-----------+-----------+------+------+
|     1| smith|             -1|       2018|         10|     M|  3000|
|     2|  rose|              1|       2010|         20|     M|  4000|
|     3| vidhi|              1|       2010|         10|     M|  1000|
|     4| jones|              2|       2019|         30|      |    -1|
|     5|piyush|              2|       2010|         50|      |    -1|
+------+------+---------------+-----------+-----------+------+------+

In [ ]:
dept = [("finance", 10), 
        ("Marketing", 20), 
        ("sales", 30), 
        ("It", 40)]

deptColumns = ["dept_name","dept_id"]
deptdf = spark.createDataFrame(data = dept, schema = deptColumns)

deptdf.printSchema()
deptdf.show()

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  finance|     10|
|Marketing|     20|
|    sales|     30|
|       It|     40|
+---------+-------+

In [ ]:
empdf.join(deptdf,empdf.emp_dept_id==deptdf.dept_id,"inner").show()

+------+-----+---------------+-----------+-----------+------+------+---------+-------+
|emp_id| name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+-----+---------------+-----------+-----------+------+------+---------+-------+
|     1|smith|             -1|       2018|         10|     M|  3000|  finance|     10|
|     3|vidhi|              1|       2010|         10|     M|  1000|  finance|     10|
|     2| rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     4|jones|              2|       2019|         30|      |    -1|    sales|     30|
+------+-----+---------------+-----------+-----------+------+------+---------+-------+

In [ ]:
empdf.join(deptdf,empdf.emp_dept_id==deptdf.dept_id,"left").show()

+------+------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|  name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+------+---------------+-----------+-----------+------+------+---------+-------+
|     1| smith|             -1|       2018|         10|     M|  3000|  finance|     10|
|     2|  rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     3| vidhi|              1|       2010|         10|     M|  1000|  finance|     10|
|     4| jones|              2|       2019|         30|      |    -1|    sales|     30|
|     5|piyush|              2|       2010|         50|      |    -1|     null|   null|
+------+------+---------------+-----------+-----------+------+------+---------+-------+

In [ ]:
empdf.join(deptdf,empdf.emp_dept_id==deptdf.dept_id,"right").show()

+------+-----+---------------+-----------+-----------+------+------+---------+-------+
|emp_id| name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+-----+---------------+-----------+-----------+------+------+---------+-------+
|     3|vidhi|              1|       2010|         10|     M|  1000|  finance|     10|
|     1|smith|             -1|       2018|         10|     M|  3000|  finance|     10|
|     2| rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     4|jones|              2|       2019|         30|      |    -1|    sales|     30|
|  null| null|           null|       null|       null|  null|  null|       It|     40|
+------+-----+---------------+-----------+-----------+------+------+---------+-------+

In [ ]:
empdf.join(deptdf,empdf.emp_dept_id==deptdf.dept_id,"outer").show()

+------+------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|  name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+------+---------------+-----------+-----------+------+------+---------+-------+
|     1| smith|             -1|       2018|         10|     M|  3000|  finance|     10|
|     3| vidhi|              1|       2010|         10|     M|  1000|  finance|     10|
|     2|  rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     4| jones|              2|       2019|         30|      |    -1|    sales|     30|
|  null|  null|           null|       null|       null|  null|  null|       It|     40|
|     5|piyush|              2|       2010|         50|      |    -1|     null|   null|
+------+------+---------------+-----------+-----------+------+------+---------+-------+

In [ ]:
simpleData = [("vidhi","Sales","NY",90000,34,1000),\
             ("piyush","purchase","EY",90000,45,2000), \
                 ("robert","sales","CA",70000,50,3000), \
             ]

Columns= ["emp_name","dept","state","salary","age","bonus"]

df = spark.createDataFrame(data = simpleData, schema = Columns )
df.printSchema()
df.show()

simpleData2 = [("shona","purchase","Ca",60000,40,2000), \
               ("heet","sales","Ny",70000,23,2000), \
                ("mihir","purchase","ca",60000,35,2000), \
              ]

Columns= ["emp_name","dept","state","salary","age","bonus"]

df1 = spark.createDataFrame(data = simpleData2, schema = Columns )
df1.printSchema()
df1.show()

root
 |-- emp_name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+--------+--------+-----+------+---+-----+
|emp_name|    dept|state|salary|age|bonus|
+--------+--------+-----+------+---+-----+
|   vidhi|   Sales|   NY| 90000| 34| 1000|
|  piyush|purchase|   EY| 90000| 45| 2000|
|  robert|   sales|   CA| 70000| 50| 3000|
+--------+--------+-----+------+---+-----+

root
 |-- emp_name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+--------+--------+-----+------+---+-----+
|emp_name|    dept|state|salary|age|bonus|
+--------+--------+-----+------+---+-----+
|   shona|purchase|   Ca| 60000| 40| 2000|
|    heet|   sales|   Ny| 70000| 23| 2000|
|   mihir|purchase|   ca| 60000| 35| 2000|
+--------+--------+-----+------+---+-----+

In [ ]:
df.show()

+--------+--------+-----+------+---+-----+
|emp_name|    dept|state|salary|age|bonus|
+--------+--------+-----+------+---+-----+
|   vidhi|   Sales|   NY| 90000| 34| 1000|
|  piyush|purchase|   EY| 90000| 45| 2000|
|  robert|   sales|   CA| 70000| 50| 3000|
+--------+--------+-----+------+---+-----+

In [ ]:
df1.show()

+--------+--------+-----+------+---+-----+
|emp_name|    dept|state|salary|age|bonus|
+--------+--------+-----+------+---+-----+
|   shona|purchase|   Ca| 60000| 40| 2000|
|    heet|   sales|   Ny| 70000| 23| 2000|
|   mihir|purchase|   ca| 60000| 35| 2000|
+--------+--------+-----+------+---+-----+

In [ ]:
df.union(df1).show()

+--------+--------+-----+------+---+-----+
|emp_name|    dept|state|salary|age|bonus|
+--------+--------+-----+------+---+-----+
|   vidhi|   Sales|   NY| 90000| 34| 1000|
|  piyush|purchase|   EY| 90000| 45| 2000|
|  robert|   sales|   CA| 70000| 50| 3000|
|   shona|purchase|   Ca| 60000| 40| 2000|
|    heet|   sales|   Ny| 70000| 23| 2000|
|   mihir|purchase|   ca| 60000| 35| 2000|
+--------+--------+-----+------+---+-----+